.footer-sect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 86%;
}

.hehe {
    display: none;
}

.line1-ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.line2-ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.line3-ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.line4 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.link-b {
    color: #000;

    &:hover {
        border-bottom: 2px solid rgba(1, 1, 1, 1);
    }

}

.sub {
    text-align: right;
}

.img-src {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.link-s {
    text-decoration: none;
}

footer {
    padding-top: 15px;
    padding-bottom: 6rem;
}

.jpeg {
    &:hover {
        opacity: 0.6;
        cursor: pointer;
        transform: scaleX(1.1);
        transition: all 0.5s ease;
    }
}

.Close {
    width: 20px;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

.Open {
    width: 20px;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

.h4our {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.drop-cont{
    position: relative;
    right:0%;
    transform: translateX(100%);
}

.dropdown-cont1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: linear-gradient(to right, #101030, #101010);
    padding: 30px;
    

    position: relative;
    transition: transform 0.5s cubic-bezier(0.5, 0, 0, 0.75);
    right: 0;
    z-index: 10;




    li a {
        color: #fff;
    }

}

.blur_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1rem);
}

.blur_overlay.is--active {
    display: block;
    transition: transform 0.5s;

}

.drop-cont.is--active {
    transform: translateX(0);
}