@media screen and (max-width:1300px) {
    .image-1{
        width: 100% !important;
    }
}


@media screen and (max-width:1000px) {
    .header-right>ul {
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin-top: auto;
        margin-bottom: auto;
        align-items: center;

    }

}

@media screen and (max-width:800px) {
    .header-right {
        display: none;
    }

    .toggle-bar {
        display: inline-block;
        width: 30px;
        align-items: center;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }



    }

    .header-left img {
        width: 8.5rem;
    }

    .header-bar {
        display: flex;
        flex: auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;


    }

    // sectioning 1 media query
    // sectioning 1 media query
    // sectioning 1 media query
    // sectioning 1 media query

    .section-bolt {
        display: flex !important;
        flex-direction: column !important;
        // text-align: center !important;
        margin: 0 auto !important;


    }

    .btns {
        text-align: center !important;
    }


    .text-text {
        font-weight: 700;
        font-size: 33px !important;
        line-height: 54px;
        width: 90% !important;

    }

    .part {
        display: flex !important;
        justify-content: center;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        // text-align: center;



    }

    .color-text {
        display: inline-block;
        color: hsla(21, 80%, 36%, 1);
    }

    .para-text {
        width: 90% !important;
    }

    .image-1 {
        width: 100% !important;
    }

}

@media screen and (max-width:420px) {
    .text-text {
        font-weight: 700;
        font-size: 25px !important;
        line-height: 54px;
        width: 90% !important;
    }
    .para-text{
        font: 15px !important;
    }
}