header{
    background-color: $headerBg;
    padding: 1rem;
    position: fixed;
    z-index: 100;
    width: 100%;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        .imgContainer{
            img{
                width: 100%;
            }
        }
        .ul_signup{
            display: none;
        }
    }
}