// fontfamily
$raleway:'Raleway', sans-serif;

// backgroundcolors
$headerBg:hsla(21, 81%, 96%, 1);
$btn1:hsla(262, 52%, 11%, 1);
$btn2:hsla(36, 96%, 37%, 1);
$sectiondiv2:hsla(36, 100%, 55%, 1);
$section3Bg: hsla(0, 0%, 95%, 1);
$bgHover:hsla(0, 0%, 0%, 0.56);

// color
$p_color: hsla(0, 0%, 20%, 1);
$p_color2: hsla(264, 42%, 14%, 1);
$span:hsla(21, 80%, 36%, 1);