header {
    background-color: #fef5f1;
    padding: 0.8rem;
 

}

.header-toggle {
    display: none;
}
.header-toggle{
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    max-width: 34rem;
    height: 100%;
    z-index: 10;
    background-color: aliceblue;
    overflow-y: scroll;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.5, 0 , 0 , 0.75);
}

.blur_overlay{
    display: none;
    position: fixed;
    top: 0;
    left:0;
width: 100%;
height: 100%;
z-index: 9;
background:rgba( 0, 0, 0, 0.5);
backdrop-filter: blur(1rem);
}
.blur_overlay.is--active{
    display: block;
    transition: transform 0.5s;
   
}
.header-toggle.is--active{
    transform: translateX(0);
}

.header-toggleul{
     width: 80%;
     margin: 0 auto;
 }

.header-toggle ul li{
     width: 100%;
     padding: 1.2rem 0;
     padding-left: 2rem;
     margin-bottom: 0.5rem;
     cursor: pointer;
     border-radius: 1.2rem;
    //  background-color: red;
 }
 .nav-link{
     color:#393c41;
     font-weight: 600;
     font-size: 1.1rem;
     text-transform: capitalize;text-decoration: none;
     
 }

.header-toggle ul li:hover{
     background-color: #0000000d;
     transition: background-color  0.34s ease;
 }

.toggle-bar {
    display: none;
}
// .drop-img:hover #11{

// }
.navbar-cont {
    display: flex;
    justify-content: space-between;
    margin: auto auto;
    width: 85%;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
    // padding-top: 4vh;
    // align-items: center;
    align-items: center;
    padding: 10px 0;

}

.link-a {
    color: black;
    transition: all ease-in 0.4s;

    &:hover {
      border-bottom: 3px solid #190E2C;
        border-radius: 2px;
        transition: all ease-out 0.4s;
    }
}

.sign-btn {
    color: white;
    background-color: #190E2C;
    padding: 10px;
    border-radius: 6px;

    &:hover {
        color: black;
        background-color: white;
        border: 2px solid #101030;
        transition: all 0.5s ease-in;
    }
}

.header-right>ul {
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;

}


.drop-down {
    position: relative;
    display: inline-block;
    
}

.dropdown-cont {
    background-color: white;
    border: 1px solid white;
    border-radius: 7px;
    padding: 10px;
    position: absolute;
    display: none;
    margin-bottom: 10px;
    margin-top: 10px;

}

.drop-down:hover .dropdown-cont {
    display: block;
}

// .drop-img{

//     &:hover{
//       
//     }
// }
.drop-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;

}

.drop-content li {
    // margin-top: 10px;
    &:hover {
        background: rgba(0.5, 0.5, 0.5, 0.5);
        padding: 10px;
        border-radius: 7px;
        transition: all ease-out 0.4s;
    }
}