header {
    background-color: #fef5f1;

}

.header-toggle {
    display: none;
}

.toggle-bar {
    display: none;
}

.navbar-cont {
    display: flex;
    justify-content: space-between;
    margin: auto auto;
    width: 85%;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
    // padding-top: 4vh;
    // align-items: center;
    align-items: center;
    padding: 10px 0;

}
.link-a{
 color: black;
 &:hover{
     background: rgba(0.5, 0.5, 0.5, 0.5);
     padding: 8px;
     border-radius: 7px;
     transition: all ease-out 0.4s;
 }
}
.sign-btn{
    color: white;
    background-color: #190E2C;
    padding: 10px;
    border-radius: 6px ;
    &:hover{
        color: black;
        background-color:white ;
        border: 2px solid #101030;
        transition: all 0.5s ease-in;
    }
}
.header-right>ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;

}
.drop-down{
    position: relative;
    display: inline-block;
}
.dropdown-cont{
    background-color: white;
    border: 1px solid white;
    border-radius: 7px;
    padding: 10px;
    position: absolute;
    display: none;
margin-bottom: 10px;
    
}

.drop-down:hover  .dropdown-cont{
    display: block;
}
.drop-img{

    &:hover{
        background: rgba(0.5, 0.5, 0.5, 0.5);
        padding: 10px;
        border-radius: 7px;
        transition: all ease-out 0.4s;
    }
}