*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(/Corpers-Lodge/forgotPassword/imgs/Forgot\ Passwordbackground.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    margin: 0 auto;
}

section{
    background-color: white;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    /* padding-bottom: 70px; */
    /* max-width: 90%;
    margin: 0 auto; */

}
h1{
    /* width: 90%;
    margin: 0 auto; */
    text-align: center;
    /* padding: 50px; */
    font-weight: 500;
    font-size: 1.9rem;
}
.subText{
    text-align: center;
    width: 65%;
    margin: 0 auto;
    padding-top: .5rem;
}
form{
    padding-top: 3rem;
}
label{
    color: #454545;
}
input{
    width: 100%;
    padding: 15px 10px;
    margin-top: 8px;
    border: 1.5px solid hsla(262, 52%, 11%, 1);
    border-radius: 5px;
}
input::placeholder{
    transform: translateY(10%);
}
button{
    width: 100%;
    padding: 8px;
    margin-top: 30px;
    background-color: hsla(262, 52%, 11%, 1);
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 1.4rem;
    /* margin: 40px; */
}
.confirm{
    position: relative;
}
.confirm_p{
    color: red;
    padding-top: 10px;
    /* display: none; */
}

.create{
    position: relative;
}

#error{
    display: none;
}
/* .span2{
    position: relative;
} */
i{
    cursor: pointer;
    position: absolute;
    /* bottom: 40%; */
    right: 5%;
}
.confirm{
    position: relative;   
}
#hide2{
    display: none;
}
#hide4{
    display: none;
}